extends ./layout/index

block contenido
  
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/5.jpg", alt="imagen_sobre_nosotros",class="img-fluid")
            .col-md-7
              h1=pagina
              blockquote  Bienvenido a nuestra agencia de viajes de renombre, donde tus sueños de explorar el mundo se hacen realidad. En nuestro compromiso por brindarte experiencias inolvidables, hemos reunido un equipo apasionado y experto en destinos de todo el globo. Desde playas paradisíacas hasta ciudades vibrantes, estamos aquí para crear itinerarios personalizados que se adapten a tus deseos y necesidades.
              p Nuestra agencia se enorgullece de ofrecer una gama completa de servicios de viaje, desde la planificación y reservas hasta el apoyo continuo durante tu aventura. Colaboramos con los mejores proveedores de la industria para asegurarnos de que disfrutes de alojamientos de primera clase, opciones gastronómicas excepcionales y actividades emocionantes.
             


    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p La seguridad es esencial en todos los aspectos de la vida. Desde la protección de nuestra privacidad en línea hasta la prevención de accidentes en el trabajo, garantizar un entorno seguro es una prioridad

                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="",class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Los destinos de viaje ofrecen una amplia gama de experiencias y aventuras. Desde las playas paradisíacas de Bali hasta las históricas calles de Roma, cada lugar tiene su encanto único. 

                .col-md-4   
                    img(src="img/icono_precios.svg", alt="",class="img-fluid mb-4")
                    h2.mb-4 Los Mejores precios
                    p Los precios varían ampliamente según el producto o servicio que estés buscando. En el mundo de los viajes, es importante comparar tarifas de vuelos, hoteles y actividades para obtener la mejor oferta